/* BODY */
    body {
        background-color: #000000; 
        font-family: 'Futura PT';
        cursor:default;
    }
    .green-body {
        background-color: #6F9543;
    }
    .body-dark-green{
        background-color: #384B22;
    }
    .body-orange {
        background-color: #C26637;
    }
/* NAVBAR & LINKS*/
    .navbar { 
        background-color: black;
    }
    #navbar-logo {
        height: 5vh;
    }
    .nav-link {
        color: #C26637;
        font-size: 1.5rem;
    }
    #current-page{
        color: #6F9543;
        font-size: 1.7rem;
    }
    .nav-link:hover{
        color: #6F9543;
        font-size: 1.7rem;
    }
/* NAVBAR */
    .banner{
        background-color: black;
    }
    .masthead {

        height: 50vh;
        color: white;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .masthead-heading{
        font-size: 10vw;
        font-weight: bold;
    }
    .masthead-index{
        background-image: url('logos/ttbcLeafsmall.png');
    }
    .masthead-about {
        background-image: url('images/tropical-green-leaves-background.jpg');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
        
    }
    .masthead-eat {
        background-image: url('images/pizza.jpg');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
    }
    .masthead-drink {
        background-image: url('images/photo-1571613316887-6f8d5cbf7ef7.webp');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
    }

/* MAIN SECTION */
    .main-section, .newsletter, .socials{
        background-color: #6F9543;
    }
   
    
    .main-section .card {
        border: none; height: 18rem; 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        cursor: pointer;
    }

    .card {
        position: relative;
        overflow: hidden;
        height: 18rem;
        
      }
      
      .card-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: #000000;
      }
      
      .card-body img {
        -webkit-transition: 0.6s ease;
        transition: 0.6s ease;
        max-height: 18rem;
        object-fit: cover;
        object-position: center;
        opacity: 0.75;
        
      }
      .card-body h3 {
        position: absolute;
      }
    
      .card:hover .card-body img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .shop-card:hover .card-body img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2) rotate(5deg)
      }

/* FEATURES */
    .marketing {
        background-color: #FFECC0;
    }
   
    
    .featurette-about{
        background-color:#384B22;
    }





    /* <div class="box">
        <div class="item">
            <img src="images/beer.jpg" />
        </div>
    </div> */

    .food-menu{
        background-image: url("images/leaf.jpg");
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
}
.menu-window{
    background-color: #FFECC0;
}


.featured-beer{
    background-color: #FFECC0;
}


/* CAROUSEL ITEMS*/

/* .carousel-item-2 {
    background-image: url(beerMocks/2.png);
    background-size: contain;
} */
    

/* HEADINGS */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}


.h-orange{
    color: #C26637;
}

.h-green{
    color: #384B22;
}

.h-black{
    color: black;
}

.h-white{
    color: white;
}

/* BUTTONS */

.btn { 
    font-size: 1.25rem;
    /* border-radius: 100px; */
}
.btn-green {
    background-color: #384B22;
    color: white;
}
.btn-orange {
    background-color: #C26637;
    color: white;
}
.btn-o-green {
    border: 2px solid #384B22;
    color: #384B22;
}
.btn-o-orange {
    border: 2px solid #C26637;
    color:#C26637;
}

a {
    text-decoration: none;
}
