/* BODY */
    body {
        background-color: #000000; 
        font-family: 'Futura PT';
        cursor:default;
    }
    .green-body {
        background-color: #8fa850;
    }
    .body-dark-green{
        background-color: #384B22;
    }
    .body-orange {
        background-color: #C26637;
    }
    .body-cream {
        background-color: #F6EDD9;
    }

    .border-green{
        border: 3px solid #384B22;
        border-radius: 10px;
    }
/* NAVBAR & LINKS*/
    .navbar { 
        background-color: black;
    }
    #navbar-logo {
        height: 5vh;
    }
    .nav-link {
        color: #C26637;
        font-size: 1.5rem;
    }
    #current-page{
        color: #8fa850;
        font-size: 1.7rem;
    }
    .nav-link:hover{
        color: #8fa850;
        font-size: 1.7rem;
    }
/* NAVBAR */
    .banner{
        background-color: black;
    }
    .masthead {

        height: 50vh;
        color: white;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .masthead-heading{
        font-size: 10vw;
        font-weight: bold;
    }
    .masthead-index{
        background-image: url('logos/ttbcLeafsmall.png');
    }
    .masthead-about {
        background-image: url('images/tropical-green-leaves-background.jpg');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
        
    }
    .masthead-eat {
        background-image: url('images/pizza.jpg');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
    }
    .masthead-drink {
        background-image: url('images/photo-1571613316887-6f8d5cbf7ef7.webp');
        background-size: cover;
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px inset;
    }

/* MAIN SECTION */
   
   
    
    .main-section .card {
        border: none; height: 18rem; 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        cursor: pointer;
    }

    .card {
        position: relative;
        overflow: hidden;
        height: 18rem;
      }
      
      .card-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: #000000;
      }
      
      .card-body img {
        -webkit-transition: 0.6s ease;
        transition: 0.6s ease;
        max-height: 20rem;
        object-fit: cover;
        object-position: center;
        opacity: 0.75;
        
      }
      .card-body h3 {
        position: absolute;
      }
    
      .card:hover .card-body img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .shop-card:hover .card-body img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2) rotate(5deg)
      }

#untapped{
    border: 3px solid #C26637;
    border-radius: 10px;
    cursor: pointer;
}  
    
.menu-window{
    background-color: #FFECC0;
}




.footer{
    background: black;
}

/* CAROUSEL ITEMS*/

/* .carousel-item-2 {
    background-image: url(beerMocks/2.png);
    background-size: contain;
} */
    

/* HEADINGS */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}


.h-orange{
    color: #C26637;
}

.h-green{
    color: #384B22;
}

.h-black{
    color: black;
}

.h-white{
    color: white;
}

/* BUTTONS */

.btn { 
    font-size: 1.25rem;
    /* border-radius: 100px; */
}
.btn-green, .btn-o-green:hover {
    border: 2px solid #384B22;
    background-color: #384B22;
    color: #F6EDD9;
}
.btn-orange, .btn-o-orange:hover {
    border: 2px solid #C26637;
    background-color: #C26637;
    color: #F6EDD9;
}
.btn-o-green, .btn-green:hover {
    border: 2px solid #384B22;
    color: #384B22;
}
.btn-o-orange, .btn-orange:hover {
    border: 2px solid #C26637;
    color:#C26637;
}

a {
    text-decoration: none;
}
