html {
    font-size: 16px;
}
body{
    background:#22422d;
    background-position: center;
    color: white;
}
.main{
    height: 90vh;
    background-image: url('images/plantBar.jpg');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(37, 21, 12, 0.2);
}
.main img{
    width: 100vw;
    max-width: 800px;
    padding: 10vh;
}
.navbarStyle{
    background-color: rgba(0,0,0, 0.8);
    color: #9A562E;
}
.nav-link:hover{
    color: #22422d;
}
.nav-link:visited{
    
}
.nav-link{
    font-size: 2rem;
}

#whoSection{
    background-color: white;
    color: #22422d;
}
#whoSection p{
    font-size: 2.5rem;
}
#whoSectionHeading{
    font-size: 3rem;
    background-color: #9A562E;
    border: 5px solid black;
    transform: translateY(-100px);
    margin: 0 15vw;
    padding: 10px;
    color: black;
}
.ourBeerSection{
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url('images/tropical-green-leaves-background.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#beerSectionHeading{
    font-size: 3rem;
    background-color: #22422d;
    border: 5px solid black;
    transform: translateY(-50px);
    margin: 0 10vw;
    padding: 10px;
    color: white;
}
.aBeer{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border: 2px solid #ffffffae;
}
.beerTitle{
    font-size: 3rem;
    color: #9A562E;
    padding: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
}
.beerDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}
.beerP{
    font-size: 2rem;
    color: #bf7f5a;
    font-weight: 500;
}

.beerImg{
    width: 50%;
}
.frogDrawing{
    width: 40vw;
}

.beerSection{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/beer.jpg');
    background-size: cover;
}
.beerSection:hover, .foodSection:hover{
    transition: transform 1s ease-in 0s;
    transform: scale(1.1);
}
.foodSection{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/burger.jpg');
    background-size: cover;
}
.whoSection{
    background-image: url('images/green.png');
    background-size: cover;
    background-position:bottom;
}

.hoursSection, .footerSection{
    background-color: #22422d;
    color: white;
    text-align: center;
}
.hoursSection h2{
    font-size: 3.5rem;
    padding: 10px;
}
.hoursSection span{
    font-size: 2rem;
}
.hoursSection p{
    font-size: 2rem;
}
.footerSection{
    cursor: pointer;
}
.dayTime > span{
    color:#9A562E
}

.socialSection{
    background-color: #9A562E;
    font-size: 2rem;
}
.socialSection img{
    width: 80px;
}
#socialSectionHeading{
    font-size: 3rem;
    color: black;
}


a:link { text-decoration: none; color: #9A562E }
a:visited { text-decoration: none;
    color: #9A562E;
 }
a:hover { 
    text-decoration: none; 
}
a:active { text-decoration: none;
    color: #9A562E; }


